@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";



@mixin extends {
    @extend %fa-icon;
    @extend .fas;
}


html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient( 99.9deg, rgba(27,24,31,1) 21.2%, rgba(50,4,89,1) 84.8% );;
}

.fa-gradient {
    background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    &:hover {
        background: linear-gradient(90deg, rgba(255,167,255,1) 100%, rgba(136,72,251,1) 50%, rgba(144,236,255,1) 0%);
    }
}

.grid-container {
    display: grid;
    width: 100%;
    justify-items: center;
    height: 200px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top-nav-bar" "handler-bar" "nav-menu" "random-link";
    
    a {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: cyan; 
        transition:  all 200ms;
        &:hover {
            text-decoration: none;
            filter: drop-shadow(0 3px 5px cyan);
            color: rgb(255, 0, 191);
        }
    }

    .top-nav-bar {
        grid-area: top-nav-bar;
        width: 1440px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 30px;
        
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                display: inline-block;
                box-sizing: border-box;
                padding-right: 5px;      
            }
        }
    
        .left-side, .right-side {
            display: flex;
            align-items: center;
            margin-right: 20px;
            
            .dropdown {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                flex-direction: column;
                position: relative;
                width: max-content;
                font-family: 'Poppins', sans-serif;
                font-size: 1em;
                font-weight: 400;
               .arrow-down {
                   @include extends;
                   &::after { 
                       content: fa-content($fa-var-angle-down);
                       position: absolute;
                       right: -20px;
                       background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                       -webkit-background-clip: text;
                       -webkit-text-fill-color: transparent;
                       font-size: 1.4em;
                   }

               }

                .droped-menu {
                    background: rgba(0, 0, 0, 0.5);
                    backdrop-filter: blur(20px);
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 38px;
                    z-index: 4;
                    width: max-content;
                    height: fit-content;
                    border-radius: 0 0 5px 5px;
                    span:not(:last-child) {
                        border: none;
                        width: 100%;
                        border-bottom: 1px solid;
                        border-image-slice: 0 0 1 0;
                        border-image-width: 1px;
                        border-image-source: linear-gradient(90deg, rgba(144,236,255,0) 0%, rgba(144,236,255,1) 15%, rgba(84,11,217,1) 50%, rgba(255,167,255,1) 85%, rgba(255,167,255,0) 100%);
                    }
                    span:first-child {
                        border: none;
                        width: 100%;
                        border-bottom: 1px solid;
                        border-image-slice: 1 0 1 0;
                        border-image-width: 1px;
                        border-image-source: linear-gradient(90deg, rgba(144,236,255,0) 0%, rgba(144,236,255,1) 15%, rgba(84,11,217,1) 50%, rgba(255,167,255,1) 85%, rgba(255,167,255,0) 100%);
                    } 
                }
                &:hover .droped-menu  {
                   display: flex;     
                }
            }
        }
    }

    .handler-bar {
        grid-area: handler-bar;
        width: 1440px;
        box-sizing: border-box;
        padding: 0 30px;
        
        align-items: center;
        display: flex;

        .logo {
            background-image: url('../img/logo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 200px;
            height: 40px;
        }

        .handler-block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            .search {
                position: relative;
                box-sizing: border-box;
                padding-left: 50px; 
                form {
                    &:hover::before {
                        content: " ";
                        position: absolute;
                        bottom: 0;
                        width: 142px;
                        height: 1px; 
                        background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                    }
                    input {
                        font-family: inherit!important;
                        font-weight: 400;
                        background: transparent;
                        color: cyan;
                        border: none;
                        position: relative;
                        &:focus,&:active, &:visited, &:target {
                            outline: none;
                            background: transparent;
                        }
                        &::placeholder {
                            font-family: inherit!important;
                            font-weight: 400;
                            color:rgb(255, 0, 191);
                        }
                    }
                    button {
                        @include extends;
                        position: absolute;
                        background: transparent;
                        border: none;
                        width: 30px;
                        height: 30px;
                        left: 20px;
                        cursor: pointer;
                        &::before { 
                            content: fa-content($fa-var-search);
                            position: absolute;
                            top: 5px;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.3 em;
                        }
                        &:focus,&:active {
                            outline: none;
                        }
                    }
                }

            }
            .right-side {
                display: flex;
                align-items: center;
                height: 100%;
                .contact-box {
                    height: 100%;
                    .handler-dropdown {
                        display: flex;
                        height: 100%;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        width: fit-content;
                        margin-right: 30px;
                        .phone-icon {
                            @include extends;

                            &::before {
                                content: fa-content($fa-var-phone-square-alt);
                                position: absolute;
                                background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-size: 1.4em;
                                top: 14px;
                                left: -30px;
                            }
                        }
                        .arrow-down {
                            @extend %fa-icon;
                            @extend .fas;
            
                            &::after { 
                                content: fa-content($fa-var-angle-down);
                                position: absolute;
                                background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-size: 1.4em;
                                right: -20px;
                            }
                        }
                        .droped-menu {
                            background: rgba(0, 0, 0, 0.5);
                            backdrop-filter: blur(20px);
                            display: none;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            position: absolute;
                            top: 38px;
                            z-index: 4;
                            width: max-content;
                            height: fit-content;
                            border-radius: 0 0 5px 5px;
                            
                            span:not(:last-child) {
                                border: none;
                                width: 100%;
                                border-bottom: 1px solid;
                                border-image-slice: 0 0 1 0;
                                border-image-width: 1px;
                                border-image-source: linear-gradient(90deg, rgba(144,236,255,0) 0%, rgba(144,236,255,1) 15%, rgba(84,11,217,1) 50%, rgba(255,167,255,1) 85%, rgba(255,167,255,0) 100%);
                            }
                            
                            span:first-child {
                                border: none;
                                width: 100%;
                                border-bottom: 1px solid;
                                border-image-slice: 1 0 1 0;
                                border-image-width: 1px;
                                border-image-source: linear-gradient(90deg, rgba(144,236,255,0) 0%, rgba(144,236,255,1) 15%, rgba(84,11,217,1) 50%, rgba(255,167,255,1) 85%, rgba(255,167,255,0) 100%);
                            } 
                        }
                        
                        &:hover .droped-menu  {
                           display: flex;    
                        }
                    }
                }
                .login {
                    position: relative;
                    box-sizing: border-box;
                    & a {
                        padding-right: 10px;
                        padding-left: 25px;
                    }
                    &::before {
                        content: "";
                        height: 100%;
                        margin-right: 10px;
                        border-left: 3px solid;
                        border-image-width: 3px;
                        border-image-slice: 1;
                        border-image-source: linear-gradient(90deg, rgba(144, 236, 255, 0) 0%, #90ecff 15%, #540bd9 50%, #ffa7ff 85%, rgba(255, 167, 255, 0) 100%);
                    }
                    .user {
                        @include extends;
            
                        &:before {
                            content: fa-content($fa-var-user-circle);
                            position: absolute;
                            background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.4em;
                            top: 2px;
                        }
                    }
                }
                .handler-icon-block {
                    display: flex;
                    align-items: center;
                    .heart {
                        @include extends;
                        position: relative;
                        &::before {
                            content:  fa-content($fa-var-heart);
                            background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent; 
                            font-size: 1.4em;
                            margin-right: 10px;
                        }
                    }

                    .cart { 
                        @include extends;
                        &::before {
                            content: fa-content($fa-var-cart-plus);
                            background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }

    }

    .nav-menu {
        grid-area: nav-menu;
        
        width: 1440px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
        div {
            &:first-child {
                padding-left: 0;
            }
            box-sizing: border-box;
            padding-left: 10px;
        }
    }
    .random-link {
        grid-area: random-link;
        
        width: 1440px;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            a {
                color:rgb(255, 0, 191);
                text-transform: uppercase;
                @include extends;
                &::after {
                    content: fa-content($fa-var-angle-right);
                    padding-left: 10px;
                    font-size: 1em;
                    &:hover {
                        background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                        
                }
                &:hover {
                    background: linear-gradient(90deg, rgba(144,236,255,1) 0%, rgba(136,72,251,1) 50%, rgba(255,167,255,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                }
            }
        }
    }
}

.square {
    width: 1000px;
    margin: auto;
    height: 500px;
    background: green;
    transition: all 3s;
    &:hover {
        background: yellow;
    }

}

